
# editor settings
.vscode/*

# object files
*.o

# dependencies for makefiles
*.d

# precompiled headers
*.gch

# generated (dis)assembly files
*.dis

# generated linker map file(s)
*.map

# generated preprocessed files
*.pp

# logs created during execution
*.log
