# set gfxmode=1280x1024x32
# set gfxpayload=keep

# # time to wait for user input
# set timeout=1

# # default image to pick
# set default=0


# set gfxterm=1
# set gfxmode=1024x768x32
# set gfxpayload=1024x768x32

# insmod all_video


# menuentry "My graphical kernel" {
#     terminal_output gfxterm
#     multiboot2 /boot/kernel.elf
#     boot
# }


set gfxmode=1024x768
set gfxpayload=keep
terminal_output gfxterm

menuentry "Graphics Test" {
    multiboot2 /boot/kernel.elf
}
